.Room--link {
  text-decoration: none;
  color: inherit;
}

.Room--overview {
  padding: 1em;
  border: 1px solid #333;
  border-radius: 0.5em;
  margin: 0.25em;

  display: flex;
  flex-direction: column;

  a {
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
  }
}

.Room--container {
  height: initial !important;
  margin: 10px auto;
}

.Lobby--rooms-container {
  display: flex;
  flex-wrap: wrap;
}

.Lobby--board {
  width: 200px !important;
  height: 200px !important;
}
